<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
    <!-- En esta sección puedes agregar enlaces a hojas de estilo CSS, scripts, etc. -->
</head>
<body>
    <!-- El contenido de tu página va aquí -->

    <h1>Hola, mundo!</h1>
    <p>Este es un párrafo en tu página HTML.</p>

    <!-- Puedes agregar más elementos, como imágenes, enlaces, listas, etc. -->

</body>
</html>
